<div class="hea_intro">
	<div class="high_light">
		<!--header-->
		<div class="header">
			<div class="hea_con">
				<div class="hea_left">
					<h3>宁美琪</h3>
					<p>高级前端开发工程师</p>
				</div>
				<div class="hea_right">
					<div class="hea_qq">41294687</div>
					<div class="hea_mail">heeroluo@126.com</div>
				</div>
			</div>
		</div>
		<!--intro-->
		<div class="intro clearfix">
			<div class="intro_con clearfix">
				<div class="intro_left">
					<p>置气和悲伤的源头都在于自己，你不听不闻不看，选择权在你</p>
				</div>
				<div class="intro_right">
					<div class="pic"></div>
					<div class="intro_detail">
						<ul>
							<li>
								<div class="detail_left">
									<p>手机</p>
								</div>
								<div class="detail_right intro_first">
									<p class="intro_firstcon">18745632123123</p>
								</div>
								<div class="intro_circle"></div>
							</li>
							<li>
								<div class="detail_left">
									<p>籍贯</p>
								</div>
								<div class="detail_right">
									<p>黑龙江</p>
								</div>
								<div class="intro_circle"></div>
							</li>
							<li>
								<div class="detail_left">
									<p>所在地</p>
								</div>
								<div class="detail_right">
									<p>广州市黄埔区</p>
								</div>
								<div class="intro_circle"></div>
							</li>
							<li>
								<div class="detail_left">
									<p>微博</p>
								</div>
								<div class="detail_right">
									<p>weibo.sina.com</p>
								</div>
								<div class="intro_circle"></div>
							</li>
							<li>
								<div class="detail_left">
									<p>自我评价</p>
								</div>
								<div class="detail_right">
									<p>丰富的互联网工作经验，精通各种JS技巧与实现，为人和善。</p>
								</div>
								<div class="intro_circle"></div>
							</li>
							<li>
								<div class="detail_left">
									<p>爱好</p>
								</div>
								<div class="detail_right">
									<p>游泳、游戏、电影、羽毛球、读书、健身</p>
								</div>
								<div class="intro_circle"></div>
							</li>
							<li>
								<div class="detail_left">
									<p>个人奖项</p>
								</div>
								<div class="detail_right intro_last">
									<p class="intro_lastcon">最佳前端设计奖</p>
								</div>
								<div class="intro_circle"></div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>