<footer class="foot">
	<!--底部内容区域-->
	<div class="fotCon">
		<!--底部左边logo-->
		<div class="fotLogo"><a href="#"><img src="../images/common/logo.jpg" /></a></div>
		<!--底部右边链接、描述-->
		<div class="fotDesc">
			<div class="links">
				<a href="#" class="noPadding">首页</a>
				<a href="#">课程设置</a>
				<a href="#">视频教程</a>
				<a href="#">关于我们</a>
				<a href="#">联系我们</a>
				<a href="#">在线留言</a>
				<a href="#">加入我们</a>
				<a href="#">常见问题</a>
				<a href="#" class="noBorder">网站地图</a>
			</div>
			<p>京ICP备08102442号 2012MIAOOV.COM版权所有</p>
		</div>
	</div>
</footer>