/*重置样式*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ul,
li,
ol,
form,
input {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
	font-family: "微软雅黑";
}
ul,
li {
	list-style: none;
}
img {
	display: block;
	border: 0;
}
input {
	outline: none;
}
textarea {
	padding: 0;
	resize: none;
	outline: none;
}
a {
	text-decoration: none;
}
.clearFix:after {
	content: "";
	display: block;
	clear: both;
}
.warp {
	width: 1000px;
	margin: 0 auto;
}