body {
	background: #f3f5f7;
}

/*项目经验*/
.onlinePro {
	width: 720px;
	padding: 40px 0 0 30px;
	margin:20px 0;
	background-color: #fff;
}
.ProTitle {
	font-size: 18px;
	color: #949fab;
	line-height: 1;
	margin-bottom: 29px;
}
.onlineProImg {
	width: 330px;
	margin: 0 auto;
}
.onlineProImg div {
	padding:39px 0 19px;
	margin: 0 auto 15px;
	text-align: center;
	background-color: #f3f5f7;
	border: 1px dashed #e4e9ed;
}
.add {
	display: inline-block;
	width: 29px;
	height: 28px;
	background: url(../images/project/add.png) no-repeat;
	cursor: pointer;
}
.onlineProImg p {
	font-size: 14px;
	line-height: 52px;
	color: #707a87;
}
.onlinePro ul {
	margin-right: -15px;
}
.onlinePro li {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin:5px 15px 12px 0;
	box-sizing: border-box; 
}
.onlinePro .addImg {
	padding: 15px 14px 0;
	font-size: 14px;
	color: #707a87;
	text-align: center;
	border:1px dashed #e4e9ed;
	background-color: #f3f5f7;
	cursor: pointer;
}
.onlinePro .active {
	border:1px solid #e15671;
}
.onlinePro .addImg p{
	margin-top: 9px;
	line-height: 20px; 
}
.onlinePro .addImg:hover {
	background-color: #fff;
	border-color: #e15671;
}
.onlinePro .addImg:hover add {
	background: url(../images/project/addHover.png) no-repeat;
}
.active .remove{
	position: absolute;
	top: -11px;
	right: -11px;
	width: 22px;
	height: 22px;
	background: url(../images/project/remove.png) no-repeat;
	cursor: pointer;
}

/*在线项目表单部分*/
.onlinePro .inputLeft {
	width: 165px;
}
.forTextarea {
	font-size: 14px;
}
.textArea {
	float: left;
	width: 328px;
	height: 118px;
	border: 1px solid #e4e9ed;
	border-radius: 4px;
}
.explain p{
	font-size: 14px;
	color: #949fab;
	line-height: 34px;
}
.introSection {
	float: left;
}
.introBox {
	width: 320px;
	padding: 5px;
	border-radius: 2px;
	background-color: #f3f5f7;
}
.function {
	height: 32px;
	padding-left: 10px;
	line-height: 32px;
	border: 1px solid #e4e9ed;
	border-radius: 2px;
	color: #949fab;
}
.function input {
	width: 250px;
	height: 30px;
	padding-left: 5px;
	line-height: 30px;
	border: none;
	background: none;
	color: #707a87;
}