
.info{
  width:1000px;
  margin:0 auto;
}
.infoCon{
  width:604px;
  padding:30px 82px 40px 64px;
  background-color: #fff;
  margin-top:20px;
}

.el-form--label-left .el-form-item__label {
  text-align: right !important;
}
