.onlinePro,
.proShow {
	width: 720px;
	padding: 40px 0 30px 30px;
	margin:20px 0;
	background-color: #fff;
}
.proShow {
	padding-bottom: 20px;
}

.proShow .ProTitle {
	margin-bottom: 9px;
}
.proShowList {
	position: relative;
	width: 700px;
	padding: 20px 10px 8px;
	box-sizing: border-box;
	border: 1px dashed transparent;
	
}
.proShowList:hover {
	background: #f9fafb;
	border-color: #e4e9ed;
}
.proShowImg {
	position: relative;
	float: left;
	overflow: hidden;
	width: 240px;
	height: 160px;
	margin-right:19px;
	text-align: center;
	border-radius: 4px;
}
.proShowImg ul{
	width: 300%;
	background: #ccc;
}
.proShowImg ul li{
	float: left;
	width: 240px;
	height: 160px;
}
.proShowImg ol {
	display: inline-block;
	position: absolute;
	bottom: 9px;
	left: 50%;
}
.inputTxt {
	position: relative;
}
.iptDelet {
	position: absolute;
	top: 10px;
	right: 180px;
	display: none;
	width: 16px;
	height: 16px;
	background: url(/static/images/project/inputDele.png) no-repeat;
	cursor: pointer;
}
.iptDelet:hover {
	background: url(/static/images/project/inputDeleHover.png) no-repeat;
}
input:focus+em{
	display: block;
}

.proShowImg ol li {
	float: left;
	width: 8px;
	height: 8px;
	margin: 0 5px;
	background: rgba(255,255,255,.8);
	border-radius: 50%;
	cursor: pointer;
}
.proShowDetails {
	float: left;
	width: 407px;
}
.proShowItem .proItemTitle {
	font-size: 18px;
	color: #444d59;
	line-height: 26px;
}
.synopsis {
	font-size: 14px;
	line-height: 24px;
	color: #707a87;
	margin: 9px 0 18px;
}
.knowledgePoint {
	padding: 21px 0;
}
.knowledgePoint em {
	float: left;
	height: 32px;
	padding: 0 16px;
	font-size: 14px;
	line-height: 32px;
	margin-right: 10px;
	border: 1px solid #e4e9ed;
	border-radius: 2px;

}
.knowledgePoint em:nth-of-type(1) {
	color: #b93d5f;
}
.knowledgePoint em:nth-of-type(2) {
	color: #4b4b9c;
}
.knowledgePoint em:nth-of-type(3) {
	color: #985a99;
}
.showFunction em {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 12px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background-color: #bcc0c7;
}
.showFunction .proItemTitle{
	font-size: 14px;
	line-height: 22px;
}
.showFunction .synopsis {
	margin: 6px 0 12px;
}
