<div class="dropDown infoInputTxt clearFix">
    <div class="social">
        <ul>
            <li 
            	v-for="info of companyData" 
            	:class="{active:info.isWrite}"
            	@click="info.isWrite = !info.isWrite"
            >
                <a href="javascript:;"><img :src="info.companyLog"></a>
                <!--选中之后的角标-->
                <span class="corner" v-if="info.isWrite">
                	<img src="/static/images/info/socialActive.png">
                </span>
            </li>
        </ul>
        <slot text="abc" :companyData='companyData'></slot>
    </div>
</div>
